{ 
  "PATH" : {
    "Chrome" : ""
  },

  "ACCOUNT" : {
    "Default" : {
      "id" : "",
      "pwd" : "" 
    },
    "Google" : {
      "id" : "",
      "pwd" : ""
    },
    "Facebook" : {
      "id" : "",
      "pwd" : ""
    },
    "Webzen" : {
      "id" : "",
      "pwd" : ""
    }
  }
}